.individual1 {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.individual2 {
  width: 100%;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  min-height: 75vh;
  background: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.individual3 {
  background: transparent;
  border-radius: 1.5rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.individual4 {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.individual4 > span {
  width: 70%;
  background-color: pink;
}
.individual5 {
  flex-direction: row;
  gap: 1rem;
}
.individual6 {
  border-radius: 1.5rem;
  background: white;
  box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
  transition: all 0.5s ease-in;
}
